@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 768px) {
  .leaflet-control {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .main-container {
    height: 100vh !important;
  }

  .logo-title,
  .map-pos {
    flex-direction: row !important;
  }
}
